* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  background-color: darkgrey;
  padding: 40px;
}
.red-color,
.green-color,
.blue-color {
  padding: 20px;
}

.red-color {
  background-color: red;
}

.blue-color {
  background-color: blue;
}

.green-color {
  background-color: green;
}
